+b.works#works
    +e.container.container
        +b.title
            +e.H2 Latest Works
        +e.UL.list
            each item in works
                +e.LI.item
                    +e.IMG(src=" "+item.template, alt=" "+item.alt_t)