.footer {
    background: url(../img/bg-body.png) center center/cover no-repeat;
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }
    p {
        font-size: 50px;
        font-weight: 300;
        color: #fff;
    }
    span {
        font-weight: 700;
        color: #fff;
    }
}