.cookie {
    position: fixed;
    background: #194277;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    z-index: 10;
    height: 75px;
    top: 0;
    transition: 0.3s ease;
    p {
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;
    }
}
.footer {
    background: url(../img/bg-body.png) center center/cover no-repeat;
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }
    p {
        font-size: 50px;
        font-weight: 300;
        color: #fff;
    }
    span {
        font-weight: 700;
        color: #fff;
    }
}
.header {
    background: url(../img/bg-body.png) center center/cover no-repeat;
    text-transform: uppercase;
    padding: 150px 0 75px 0;
    &__inner {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        position: relative;
    }
    &__logo {
        width: 150px;
        height: 150px;
        background: #fff;
        border-radius: 50%;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 110%;
            height: 110%;
            background: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.2;
            border-radius: 50%;
        }
        &::after {
            content: '';
            position: absolute;
            width: 120%;
            height: 120%;
            background: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.1;
            border-radius: 50%;
        }
    }
    h1 {
        font-size: calc(2vw + 20px);
        width: 75%;
        font-weight: 900;
        text-align: center;
        line-height: 1.25;
    }
    p {
        font-size: 16px;
        width: 65%;
        font-weight: 300;
        text-align: center;
        margin: 0;
        line-height: 2;
    }
    @media screen and (max-width: 800px) {
        p {
            font-size: 12px;
        }
    }
    @keyframes move-down {
        from {
            top: 0;
        }
        to {
            top: 30px;
        }
    }
    &__next {
        margin: 0 0 15px 0;
        position: relative;
        animation: move-down 1.3s infinite;
    }
}
.about {
    &__inner {
        text-align: center;
        width: 91%;
        margin: 0 auto;
        padding: 90px 0;
    }
}

.expert {
    background: #f1f8ff;
    padding: 50px 0;
    &__list {
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        margin-top: 40px;
    }
    &__item {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 40px 0;
        max-width: 360px;
        width: 100%;
    }
    &__img-block {
        border-radius: 50%;
        border: 1px #a8a8a8 solid;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        transform: scale(0.7);
    }
    h3 {
        margin: 40px 0 20px 0;
        color: #3677fd;
        font-weight: 900;
    }
}

.works {
    padding: 50px 0;
    &__list {
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        margin-top: 40px;
    }
    &__item {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 40px auto;
        height: 235px;
        background: #f4f4f4;
        max-width: 360px;
        width: 100%;
        padding: 20px;
    }
    img {
        object-fit: cover;
        transform: scale(0.9);
    }
}

.clients {
    padding: 50px 0;
    background: #f1f8ff;
    &__list {
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row wrap;
        margin-top: 40px;
    }
    &__item {
        max-width: 250px;
        width: 100%;
        margin: 40px auto;
        display: flex;
        justify-content: center;
    }
}
.scale-to-popup {
    transform: scale(1);
}

.f-popup {
    position: fixed;
    margin: 0 auto;
    background: #194277b9;
    z-index: 11;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: none;
    &__inner {
        max-width: 1170px;
        margin: 0 auto;
        background: #fff;
        border-radius: 20px;
        padding: 75px 0;
        position: relative;
    }
    &__navbar {
        width: 33%;
        margin: 0 auto;
        position: relative;
        padding: 0;
        &::after {
            content: '';
            width: 100%;
            position: absolute;
            height: 1px;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            background: #d2d2d2;
        }
    }
    svg {
        width: 30px;
        height: auto;
        fill: #fff;
    }
    &__icons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 33%;
        margin: 0 auto;
    }
    &__icon-wrapper {
        background: #d2d2d2;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 50px 0;
        &:hover {
            background: #3677fd;
        }
    }
    a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__lang {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    &__choose {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            margin: 0 10px;
            color: #000;
        }
    }
}

.close {
    position: absolute;
    top: 20px;
    height: 40px;
    width: 40px;
    right: 20px;
    transform: rotate(45deg);
    cursor: pointer;
    &:before {
        content: '';
        position: absolute;
        width: 2px;
        background: #3677fd;
        height: 100%;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #3677fd;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
}

.s-popup {
    position: fixed;
    margin: 0 auto;
    background: #194277b9;
    z-index: 11;
    width: 100%;
    padding: 20px 0;
    display: none;
    &__inner {
        max-width: 1170px;
        margin: 0 auto;
        background: #fff;
        border-radius: 20px;
        padding: 70px 0;
        width: 70%;
        position: relative;
        margin: 0 auto;
    }
    &__form-popup {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    input,
    textarea {
        width: 60%;
        margin: 10px 0;
        min-height: 50px;
        border: 1px solid #b7c0c9;
        border-radius: 20px;
        padding-left: 20px;
        outline: none;
        resize: none;
    }
    textarea {
        padding-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .s-popup,
    .f-popup {
        &__inner {
            width: 100%;
        }
        .pop-hover {
            p {
                font-size: 14px;
            }
        }
    }
}