include ../bemto/bemto

+b.HEADER.header
    +e.container.container
        +e.inner
            +b.burger
                +e.SPAN
            +e.logo
            +e.H1 free portfolio PSD template FOR GRAPHIC designerS 
            +e.P Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            +b.BUTTON.btn.hire-btn hire me
            +e.FIGURE.next
                +e.A(href="#about")    
                    img(src="img/arrow.png", alt="nxt-sctn")