+b.s-popup
        +e.inner
            +e.close.close
            +b.title
                +e.H2 Hire Me
            +e.FORM(method="GET").form-popup
                +e.INPUT(type="text" name="name" class="name" placeholder="Your Name")
                +e.INPUT(type="text" name="email" class="email" placeholder="Your Email")
                +e.TEXTAREA(name="message", cols="30", rows="10" placeholder="Your Message")
                +b.BUTTON.btn.popup-btn(type="submit") SEND MESSAGE