-
    let expert = [
        
        {
            text:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ",
            icon:"img/expert1.png",
            alt:"expert1",
            title:"MOBILE APP DESIGN"
        },

        {
            text:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            icon:"img/expert2.png",
            alt:"expert2",
            title:"WEB DESIGN"
        },

        {
            text:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ",
            icon:"img/expert3.png",
            alt:"expert3",
            title:"WEB DEVELOPMENT"
        },

        {
            text:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ",
            icon:"img/expert4.png",
            alt:"expert4",
            title:"PRODUCT DESIGN"
        },

        {
            text:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            icon:"img/expert5.png",
            alt:"expert5",
            title:"UX & UI"
        },

        {
            text:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ",
            icon:"img/expert6.png",
            alt:"expert6",
            title:"ANIMATIONS "
        }
    ];

-
    let works = [
        {
            template:"img/template1.png",
            alt_t:"template1"
        },
        {
            template:"img/template2.png",
            alt_t:"template2"
        },
        {
            template:"img/template3.png",
            alt_t:"template3"
        },
        {
            template:"img/template4.png",
            alt_t:"template4"
        },
        {
            template:"img/template5.png",
            alt_t:"template5"
        },
        {
            template:"img/template6.png",
            alt_t:"template6"
        }
    ];

-
    let clients = [
        {
            icon:"img/client1.png"
        },
        {
            icon:"img/client2.png"
        },
        {
            icon:"img/client3.png"
        },
        {
            icon:"img/client4.png"
        }
    ];

-
    let menu = [
        {
            text:"About Me",
            link:"#about",
            atr:"link"
        },
        {
            text:"Services",
            link:"#service",
            atr:"link"
        },
        {
            text:"My Works",
            link:"#works",
            atr:"link"
        },
        {
            text:"Clients",
            link:"#clients",
            atr:"link"
        }
            
    ];