.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 20px 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 25%;
    left: 50%;
    width: 10px;
    height: 10px;
    content: '•';
    transform: translateX(-50%);
    text-align: center;
    border: 1px #fff solid;
    border-radius: 50%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    background: #fff;
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev {
    left: -50px;
    width: 50px;
    height: 50px;
    background: url(../img/back.svg) center center/cover no-repeat;
}

.slick-next {
    right: -50px;
    width: 50px;
    height: 50px;
    background: url(../img/back.svg) center center/cover no-repeat;
    transform: rotate(180deg) translate(0, 50%);
}

@media screen and (max-width: 1200px) {
    .slick-dots {
        flex-flow: row;
        width: 100%;
    }
    .slick-prev {
        left: -10px;
    }
    .slick-next {
        right: -10px;
    }
}

@media screen and (max-width: 400px) {
    .slick-prev,
    .slick-next {
        display: none !important;
    }
}